[DEFAULT]
# if you want to override the mac for one device, do so here
self_mac = changeme

# rest API parameters
API_URL=https://iot.aretas.ca/rest/

API_USERNAME = username
API_PASSWORD = password

[API]
batch_mode = True

# the API reporting interval
# even if we get packets more frequently, we only send once every
# report_interval milliseconds
# e.g. 20000 ms (20 seconds)
report_interval = 20000

[SERIAL]
# the XDM sampling interval
# this can be shorter than the reporting interval since we may want to
# have a higher local sampling rate when we add in our local rest API / redis time series stuff
# e.g. 5000 ms (5 seconds)
sample_interval = 5000

[XDM]
# parameters for current measurement via shunt
xdm_current_enable = True
xdm_current_port = /dev/ttyUSB1
xdm_shunt_resistance = 0.0006667
xdm_current_reverse_polarity = True

# parameters for VBATT measurement
xdm_voltage_enable = True
xdm_voltage_port = /dev/ttyUSB2